* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, body, section {
  border: 1px dashed black;
}

header {
  background-color: rgb(44, 62, 80);
}

section, footer {
  padding: 3rem 0px;
}

#jumbotron, #about {
  background-color: rgb(26, 188, 156);
}

.horizontal-bar {
  width: 20%;
  height: 5px;
}


#about .btn-box {
  height: 30px;
  background-color: orange;
  border: 1px dashed black;
}

.not-rounded {
  border-radius: 0px !important;
}

.ratio-square {
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
}

#recap {
  background-color: rgb(58, 84, 109);
}

footer {
  background-color: rgb(44, 62, 80);
}